<section class="main">
  <header>
    <nav id="navbar">
      <img class="logo" src="../images/logo.png">
      <ul class="main-nav">
        <% if (user) { %>
        <li> <a href="#myModalLogin" class="trigger-btn" data-toggle="modal">Logged In As: <%= user.name %></a> </li>
        <li action="/logout" method="POST">
          <a class="trigger-btn" href="/logout">Log Out</a>
        </li>
        <% } else { %>
        <li> <a href="#myModalLogin" class="trigger-btn" data-toggle="modal">Log in</a> </li>
        <li> <a href="#myModalRegister" class="trigger-btn" data-toggle="modal">Sign up</a></li>
        <% } %>
        <li> <a href="#menu" class="trigger-btn">Menu</a> </li>
        <li> <a href="#aboutUs" class="trigger-btn">About us</a> </li>
        <li> <a href="#location" class="trigger-btn">Location</a> </li>
      </ul>
    </nav>
    <h1 class="headertext">Sweet dreams <br>are made of these</h1>
  </header>
