<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cart</title>

    <!-- Link to css -->
    <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <!-- Montserrat Font Regular 400, Bold 700 -->
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header></header>

    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div>
            <div class="title">
              <h5>Items in your cart</h5>
              <span class="pull-right">(<strong>2</strong>) items</span>
            </div>
              <div class="content">
                <div class="table-responsive">
                  <table class="table shoping-cart-table">
                    <tbody>
                      <tr>
                        <td>
                          <div class="cart-product-image">image</div>
                        </td>
                        <td class="description">
                          <h3>Mixed berry mousse</h3>
                          <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          <div class="m-t-sm">
                            <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                          </div>
                        </td>
                        <td width=60>
                          <input type="text" class="form-control" placeholder="1">
                        </td>
                        <td>
                          <h4>$18.99</h4>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="content">
                <div class="table-responsive">
                  <table class="table shoping-cart-table">
                    <tbody>
                    <tr>
                      <td>
                        <div class="cart-product-image">image
                        </div>
                      </td>
                      <td class="description">
                        <h3>Chocolate lava cake</h3>
                        <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <div class="m-t-sm">
                          <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                        </div>
                      </td>
                    <td width=60>
                      <input type="text" class="form-control" placeholder="1">
                    </td>
                    <td>
                      <h4>$38.99</h4>
                    </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
          </div>
      </div>
        <div class="col-md-3">
          <div>
            <div class="title">
              <h5>Cart Summary</h5>
            </div>
            <div class="content">
              <span>Total</span>
              <h2 class="font-bold">$57.98</h2>
              <hr>
              <div class="m-t-sm">
                <div class="btn-group">
                  <a href="#" class="btn btn-primary btn-sm">Checkout</a>
                  <a href="#" class="btn btn-white btn-sm">Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>

  </body>
</html>
