<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page - Delights</title>

  <!-- Link to css -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/aboutus.css" type="text/css" />


  <link rel="stylesheet" href="/styles/login.css" type="text/css" />




<!-- ////////////////////////////////////////////////////////////////////////// -->


  <!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">



<!-- ////////////////////////////////////////////////////////////////////////// -->



  <!-- Montserrat Font Regular 400, Bold 700 -->
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap"
    rel="stylesheet">

  <!-- Javascript -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <nav class="navbar">
        <img class="logo" src="../images/logo.png">
        <ul class = "main-nav">
          <li> <a href="#myModal" class="trigger-btn" data-toggle="modal">Sign in</a> </li>
          <li> <a herf = "#">Menu</a> </li>
          <li> <a herf = "#">About us</a> </li>
          <li> <a herf = "#">Location</a> </li>
        </ul>
      </nav>
      <h1 class= "headertext">Sweet dreams <br>are made of these</h1>
    </header>

    <section class="menu">
      <h1 class="subtitle"> Menu <br></h1>
      <div class="divide">
      <section class="submenu1">
        <h2>Cakes</h2>
        <li class="menuitem"> <a>Mixed berry mousse cheesecake............................................. $18.99</a> </li>
        <li class="menuitem"> <a>Motcha cheesecake................................................................ $18.99</a> </li>
        <li class="menuitem"> <a>chocolate lava cake................................................................ $38.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................. $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................. $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................. $8.99</a> </li>
      </section>
      <section class="submenu1">
        <h2>SOMETHING IDK</h2>
        <li class="menuitem"> <a>creme brule............................................................................. $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................ $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................ $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................ $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................ $8.99</a> </li>
        <li class="menuitem"> <a>Mixed berry mousse................................................................ $8.99</a> </li>
      </section>
            </div>
    </section>


    <section class="aboutUs">
      <h1 class="subtitle"> About Us <br></h1>
      <p class = "description">&nbsp &nbsp Delights is one of the few fine dessert place in the Greater Toronto Area.
       We are located in Vaughan and known as “The city above Toronto”.
        Our team have taken great pride in serving our community for the past 70 years and will continue for the next 70 years</p>

        <div class = "row">
          <h2>Hear what our customer says</h2>
      </div>
          <div class="col1">
              <blockquote>
              Omnifood is just awesome! I just launched a startup which leaves me with no time for cooking, so Omnifood is a life-saver. Now that I got used to it, I couldn't live without my daily meals!
              </blockquote>
              <cite><img src="resources/css/img/customer-1.jpg">Alberto Duncan</cite>
          </div>
          <div class="col2">
              <blockquote>
              Inexpensive, healthy and great-tasting meals, delivered right to my home. We have lots of food delivery here in Lisbon, but no one comes even close to Omifood. Me and my family are so in love!
              </blockquote>
              <cite><img src="resources/css/img/customer-2.jpg">Joana Silva</cite>
          </div>

          <div class="col3">
              <blockquote>
              I was looking for a quick and easy food delivery service in San Franciso. I tried a lot of them and ended up with Omnifood. Best food delivery service in the Bay Area. Keep up the great work!
              </blockquote>
              <cite><img src="resources/css/img/customer-3.jpg">Milton Chapman</cite>
          </div>
    </section>






  </body>

  <!-- Modal HTML -->
<div id="myModal" class="modal fade">
	<div class="modal-dialog modal-login">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Member Login</h4>
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-body">
				<form action="/examples/actions/confirmation.php" method="post">
					<div class="form-group">
						<i class="fa fa-user"></i>
						<input type="text" class="form-control" placeholder="Username" required="required">
					</div>
					<div class="form-group">
						<i class="fa fa-lock"></i>
						<input type="password" class="form-control" placeholder="Password" required="required">
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary btn-block btn-lg" value="Login">
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<a href="#">Forgot Password?</a>
			</div>
		</div>
	</div>
</div>



  <!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>


</body>

</html>
