.aboutUs{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/menu_bg_img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(158, 147, 147, 0.2)), url(../images/menu_bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.description{
  text-align: center;
  font-size: 20px;
  padding-top:3%;
  margin: auto;
  width:80%;
}

.customerReview{
  margin-left: 10%;
  margin-top: 5%;
}

.cols{
  line-height: 2.5em;
  display: flex;
  width:80%;
  margin-top:3%;
  margin-left:10%;
}

.col1{
  display: block;
  float: left;

}
.col2{
  display: block;
  float: right;
  margin-left:2em;
}

.col3{
  margin-left:2em;
  display: block;
  float:center;
}

cite img{
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
