header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(158, 147, 147, 0.1)), url(https://images.pexels.com/photos/205961/pexels-photo-205961.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body{
  background:#eee;
  font-family: "montserrat";
}
