header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../images/background-img-cart.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(158, 147, 147, 0.1)), url(../images/background-img-cart.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

body{
  background:#eee;
  font-family: "montserrat";
}

.container {
  top: 13em;
  position: absolute;
  display: flex;
  justify-content: center;
}

.addButton .btn {
  margin-top: 0;
  margin-right: 0;
}

.btn-primary {
  color: #fff;
  background-color: #a0c79d !important;
}
.btn-group {
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}
.btn.btn-sm {
  padding: .5rem 1.6rem;
  font-size: .64rem;
  padding-left: 0;
  padding-right: 0;
}

.content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #ffffff;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

.cart-row {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #ffffff;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}

.cart-product-image {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}

.cart-product-image {
  height: 1px;
  width: 1px;
}

.item-imgs{
  display: block;
  height: 90px;
  width: 70px;
}

.small{
  margin-left:50px;
}

.m-t-sm{
  margin-left:50px;

}


h3{
  margin-left:50px;
}

.btn-group{
  display: block;
}

.add-item-btn{
  float:right;
}

.cart-price{
  float:right;
}
