header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/smashed_macarons.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/smashed_macarons.jpeg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.err_message{
  color:#EEE;
  display: block;
  width: 50%;
  padding-top:5%;
  padding-left: 5%;
  font-size: 400%;
  line-height: 120%;
}

.errorpage{
float: left;}
