.menu {
  background-size: cover;
  background-position: center;
  height: 100vh;

}

.subtitle {
  margin-top: 80px;
}

.subtitle:after {
  display: block;
  height: 2px;
  background-color: #a0c79d;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

.slogan {
  font-style: italic;
  text-align: center;
  font-size: larger;
  margin-bottom: 60px;
}

.btn-full:link, .btn-full:visited {
  background-color: #233529;
  border: 2px solid #233529;
  color: #fff;
  margin: 80px auto 0 auto;
  display: block;
  width: 25%;
}


.menu_img {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content_img {
  width: 14%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.content_img .menu-img {
  width: 95%;
  height: 300px;
}
.content_img div {
  bottom: 0;
  right: 0;
  background: black;
  color: white;
  margin-bottom: 15px;
  font-family: sans-serif;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover {
  cursor: pointer;
}

.content_img:hover div {
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.9;
}

.text1 {
}

.text2 {
}
