.menu{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/menu_bg_img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(158, 147, 147, 0.2)), url(../images/menu_bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-bottom: 30px;

}



.submenu1{
  margin-top: 5%;
  margin-left:10%;
}



.menuitem{
  padding:20px;
}


.divide{
  display:flex;

}



