.menu{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)), url(../images/menu_bg_img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(158, 147, 147, 0.2)), url(../images/menu_bg_img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.subtitle{
  display: flex;
  justify-content: center;
  font-family: "Lobster";
}

.submenu1{
  margin-left:8%;
}



.menuitem{
  border-right: 2px solid #a0c79d;

  padding:20px;
}


.divide{
  display:flex;

}



